*.log
*.aux
*.log
*.aux
*.zip
*.txt
6871/6871_address.tex
6872/6872_address.tex
practice1.pdf
practice1.tex
6871/Zhuravlev/Zhuravlev_pr2.tex 
6871/Frolov/Frolov_pr1.tex
6871/Frolov/Frolov_pr1.pdf
6871/Semenov/Prakticheskaya_rabota_1.tex
6871/Vaiman/main.tex
6872/Vanchugov/Vanchugov_pr1.tex 
6872/Dementev/*.tex 
6872/Krukova/*.tex 
6872/Startsev/startsev_pr1.tex 
6872/Surin/main.* 
