6871/*.log
6871/*.aux
6872/*.log
6872/*.aux
6871/6871_address.tex
6872/6872_address.tex

practice1.pdf
practice1.tex
praktika/*.aux
praktika/*.log

6871/Basarevsky/*.log
6871/Basarevsky/*.aux
6871/Basarevsky/*.zip
6871/Bochkareva/*.log
6871/Bochkareva/*.aux
6871/Bochkareva/*.zip
6871/Zhuravlev/*.log
6871/Zhuravlev/*.aux
6871/Zhuravlev/Zhuravlev_pr2.tex
6871/Uvin/*.log
6871/Uvin/*.aux
6871/Uvin/*.zip
6871/Frolov/*.log
6871/Frolov/*.aux
6871/Frolov/Frolov_pr1.tex
6871/Frolov/Frolov_pr1.pdf
6871/Semenov/Prakticheskaya_rabota_1.tex
6871/Semenov/*.log
6871/Semenov/*.aux
6871/Semenov/*.zip
6871/Vaiman/main.tex
6871/Vaiman/*.log
6871/Vaiman/*.aux
6871/Vaiman/*.zip

6872/Belkov/*.log
6872/Belkov/*.aux
6872/Belkov/*.txt
6872/Belkov/*.zip
6872/Burdin/*.log
6872/Burdin/*.aux 
6872/Vanchugov/*.log
6872/Vanchugov/*.aux
6872/Vanchugov/*.zip
6872/Vanchugov/*.txt
6872/Vanchugov/Vanchugov_pr1.tex
6872/Vanchugov/Vanchugov_pr1.pdf
6872/Dementev/*.tex
6872/Dementev/*.log
6872/Dementev/*.aux
6872/Dementev/*.zip
6872/Krukova/*.tex
6872/Krukova/*.log
6872/Krukova/*.aux
6872/Krukova/*.zip
6872/Logazyak/*.log
6872/Logazyak/*.aux
6872/Logazyak/*.zip
6872/Nagornykh/*.log
6872/Nagornykh/*.aux
6872/Nagornykh/*.zip
6872/Startsev/*.log
6872/Startsev/*.aux
6872/Startsev/*.zip
6872/Startsev/startsev_pr1.tex
6872/Startsev/startsev_pr1.pdf
6872/Startsev/output.pdf-1416268831.pdf
6872/Surin/*.log
6872/Surin/*.aux
6872/Surin/*.zip
6872/Surin/main.*
6872/Zverev/*.log
6872/Zverev/*.aux
6872/Verstakova/*.aux
6872/Verstakova/*.log
6872/Verstakova/*.zip
